* {
  box-sizing: border-box;
  margin: 0;
}

a {
  display: block;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(red, green, blue, alpha);
  display: inline;

 /*box-sizing: border-box;*/
  padding: 10px;
}

.box {
  /*box-sizing: border-box;*/
  display: inline;
}