* {
  box-sizing: border-box;
  margin: 0;
}

a {
  /*display: block;*/
  padding-top: 20px 10px 15px 15px;
  margin-left: 20px;
  transform: scaleX(35deg);
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(red, green, blue, alpha);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 /*box-sizing: border-box;*/
  padding: 10px;
}

h2 {
  transform: translate(10px, 5px);
  padding: 20px 10px;
}



.box {
  /*box-sizing: border-box;*/
  display: inline;
}