* {
  box-sizing: border-box;
  margin: 0;
}

a {
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(red, green, blue, alpha);
  border: 1px solid red;

 /*box-sizing: border-box;*/
  padding: 10px;
}

.box {
  /*box-sizing: border-box;*/
  border: 1px solid red;
  width: 200px;
  height: 20px;
}